.Upscaler {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #434a58;
  min-height: 100vh;
}

.Upscaler-header {
  background-color: #434a58;
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  margin-bottom: 10%;
}

.Upscaler-container {
  background-color: #434a58;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: auto;
}

.Upscaler-button {
  background-color: green;
  width: 35%;
}

.Upscaler-button:disabled {
  background-color: #f3d47a;
  cursor: not-allowed;
}

@media only screen and (max-width: 670px) {
  .Upscaler-container {
    justify-content: center;
  }
}
