.News {
  background-color: #282c34;
  min-height: 100vh;
}

.News-container {
  background-color: #282c34;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 670px) {
  .News-container {
    justify-content: center;
  }
}
