.Face {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #434a58;
  min-height: 100vh;
}

.Face-header {
  background-color: #434a58;
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  margin-bottom: 10%;
}

.Face-container {
  background-color: #434a58;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: auto;
}

.Face-button {
  width: 35%;
}

.Face-button:disabled {
  background-color: #f3d47a;
  cursor: not-allowed;
}

@media only screen and (max-width: 670px) {
  .Face-container {
    justify-content: center;
  }
}
