.Sdk {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #434a58;
  min-height: 100vh;
}

.Sdk-header {
  background-color: #434a58;
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  margin-bottom: 2%;
}

.Sdk-container {
  background-color: #434a58;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: auto;
}

.Sdk-button {
  background-color: darkgoldenrod;
  width: 35%;
}

.Sdk-button:disabled {
  background-color: #f3d47a;
  cursor: not-allowed;
}

@media only screen and (max-width: 670px) {
  .Sdk-container {
    justify-content: center;
  }
}
